# database 
DATABASE_URL=postgres://opeolluwa:thunderstorm@localhost/racoon

#jwt secret and OTP encryption
JWT_SECRET=zlsAAnVChDQJEZDW9pAq7ks98gjolpfASBHAi8BJ3Y9TeUDHcX9HovV5BzrS4hUKX5tBmB4acfQ
TOTP_ENCRYPTION_KEY = ptDVUcaEswtawGxdAYrHMzjNZzwVqzJpZFDIaNnDtLMMkbnTVpxtbTRcpMaPmvvvXwwbPFpGMVQuiUaKRtbx

#smtp username
SMTP_USERNAME=
#smtp password
SMTP_PASSWORD=
#smtp host
SMTP_HOST=
#smtp port
SMTP_PORT=
#smtp the email address that the response can be sent to
SMTP_REPLY_TO_ADDRESS=
#the name of the email address that the response can be sent to
SMTP_REPLY_TO_NAME=


#message broker 
EMAIL_QUEUE = email_queue


# 0Auth2  configuration
#the client id of the 0Auth2 application using google 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


#DISCORD
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
REDIRECT_URL=