<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="content-security-policy" content="default-src https:"> -->
    <meta name="description" content="a compound of nitrogen">
    <meta property="og:title" content="nitride" />
    <meta property="og:description" content="a compound of nitrogen"/>
    <meta property="og:image"
      content="http://nitride.onrender.com/favicon/apple-touch-icon.png" />
    <meta property="og:image:alt" content="nitride" />
    <!--twitter -->
    <meta name="twitter:title" content="nitride">
    <meta name="twitter:description" content="a compound of nitrogen"/>
    <meta name="twitter:url" content="https://nitride.onrender.com/?src=twitter"
      />
    <meta name="twitter:image:src"
      content="http://nitride.onrender.com/favicon/apple-touch-icon.png"/>
    <meta name="twitter:image:alt" content="nitride" />
    <meta name="twitter:creator" content="@opeolluwa">
    <meta name="twitter:site" content="@perfmattersconf">
    <!--the application is web capable-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>nitride </title>
    <meta name="description" content="a compound of nitrogen">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,300;1,500&display=swap"
      rel="stylesheet">
    <link rel="icon" href="/favicon/favicon.ico">
    <link rel="mask-icon" href="/favicon/favicon-32x32.png"
      color="#000">
    <meta name="theme-color" content="#000">
    <link rel="apple-touch-icon" sizes="180x180"
      href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
      href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
      href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <script type="module" crossorigin src="/assets/index.49986925.js"></script>
    <link rel="stylesheet" href="/assets/index.399a3ff4.css">
  <link rel="manifest" href="/manifest.webmanifest"><script id="vite-plugin-pwa:register-sw" src="/registerSW.js"></script></head>

  <body>
    <div id="app"></div>
    
  </body>

</html>