<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body
    style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';box-sizing:border-box;background-color:#f8fafc;color:#74787e;height:100%;hyphens:auto;line-height:1.4;margin:0;-moz-hyphens:auto;-ms-word-break:break-all;width:100%!important;-webkit-hyphens:auto;-webkit-text-size-adjust:none;word-break:break-word;font-size:16px">
    <table class="wrapper"
        style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';box-sizing:border-box;background-color:#f8fafc;margin:0;padding:0;width:100%;-premailer-cellpadding:0;-premailer-cellspacing:0;-premailer-width:100%"
        role="presentation" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';box-sizing:border-box"
                    align="unset">
                    <table class="content"
                        style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';box-sizing:border-box;margin:0;padding:0;width:100%;-premailer-cellpadding:0;-premailer-cellspacing:0;-premailer-width:100%"
                        role="presentation" width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="header"
                                    style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';box-sizing:border-box;padding:0;text-align:center;color:#f5f5f5;margin:0 auto">
                                    <a
                                        style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';box-sizing:border-box;font-size:19px;font-weight:700;text-decoration:none;width:100%;height:20px;display:block;margin:0"></a>
                                </td>
                            </tr>
                            <tr>
                                <td
                                    style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';box-sizing:border-box;padding:0;color:#101010;padding:20px 15px;margin:55px 0;line-height:26px">
                                    <b style="display:block">Hello {recipient_name},</b>{email_content}</td>
                            </tr>
                            <tr>
                                <p style="height:35px"></p>
                                <td class="footer"
                                    style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';box-sizing:border-box;padding:0;text-align:center;color:#131212;margin-top:85px;background-color:#eee;padding:25px 15px;font-size:13px">
                                    <p
                                        style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';box-sizing:border-box;font-size:19px;font-weight:700;text-decoration:none;width:100%;display:block;margin-bottom:3px;font-size:13px">
                                        <b>Racoon Mail Service</b></p>
                                    <p style="width:65%;text-align:center;line-height:15px;margin:5px auto 45px">Racoon
                                        is an open-source enterprise-scale identity management system for microservices
                                    </p>
                                    <p style="margin-top:5px"><a href="https://github.com/opeolluwa/racoon"
                                            style="text-decoration:none"><img width="24px"
                                                src="https://ik.imagekit.io/nethbooks/cdn/github_Jgna5WGU-.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1677280933340"
                                                alt="github"></a><a href="" style="text-decoration:none"><img
                                                width="24px"
                                                src="https://ik.imagekit.io/nethbooks/cdn/twitter_VyuCE-cVG.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1677280933299"
                                                alt="twitter"></a><a href="" style="text-decoration:none"><img
                                                width="24px"
                                                src="https://ik.imagekit.io/nethbooks/cdn/linkedin_UyIggF6qZ.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1677280933450"
                                                alt="linkedin"></a></p>
                                    <p
                                        style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';box-sizing:border-box;line-height:1.5em;margin-top:0;font-size:13px;margin-top:10px;text-align:center">
                                        &copy; {current_year}<a href="https://github.com/opeolluwa/racoon"
                                            style="text-decoration:none">Racoon Mail Service</a>.<br><small
                                            style="display:block;margin-top:5px">All rights reserved &#124; The Racoon
                                            authors</small>.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>